# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
venv/
.venv/
.env
.v/

# Django
db.sqlite3
media/
staticfiles/
static/

# Node
theme/static_src/node_modules/
theme/static_src/.cache/

# OS / Editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log


